* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
}

body {
    height: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}



.field {
    position: absolute;
    left: 350px;
    top: 100px;
    height: 600px;
    width: 800px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    opacity: 1;

}

span {

    position: relative;
    top: 20px;
    left: 100px;
    font: normal normal bold 25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;

}

.reg-elements {
    margin-top: 35px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;


}

.reg-label {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 90px;


}


.label {
    font: normal normal normal 18px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    margin-left: 100px;
}

.name-input {

    width: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0px solid #BDBDBD;


}

.profile {


    display: flex;
    align-items: center;
    width: 450px;
    margin-left: -50px;
    gap: 20px;








    .img1 {
        width: 40px;
        height: 40px;
        background: #DEDEDE 0% 0% no-repeat padding-box;
        border: 1px solid #B4B4B4;
        opacity: 1;
        border-radius: 50%;
        margin-left: -12px;

    }

    .img2 {
        width: 40px;
        height: 40px;
        background: #DEDEDE 0% 0% no-repeat padding-box;
        border: 1px solid #B4B4B4;
        opacity: 1;
        border-radius: 50%;
        margin-left: -12px;

    }

    .img3 {
        width: 40px;
        height: 40px;
        background: #DEDEDE 0% 0% no-repeat padding-box;
        border: 1px solid #B4B4B4;
        opacity: 1;
        border-radius: 50%;
        margin-left: -12px;

    }

    .img4 {
        width: 40px;
        height: 40px;
        background: #DEDEDE 0% 0% no-repeat padding-box;
        border: 1px solid #B4B4B4;
        opacity: 1;
        border-radius: 50%;
        margin-left: -12px;

    }
}


.reg-radio {
    margin-left: 140px;
    margin-top: -18px;
    display: flex;
    align-items: center;
    gap: 20px;





}

.gen-label {
    margin-top: 0px;
    margin-left: 100px;
    color: #42515F;
}


.dep-label {
    margin-left: 100px;
    margin-top: 10px;
    color: #42515F;
}

.reg-dept {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 140px;
    color: #42515F;
    margin-top: -19px;
}

.deptartment {
    width: 20px;
    height: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 1px;
    opacity: 1;
}

.salary-label {
    margin-top: 12px;
    margin-left: 100px;
    color: #42515F;

}

.reg-salary {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 140px;
    margin-top: -25px;
    color: #42515F;

}

.reg-select {
    color: #42515F;
    height: 40px;
    width: 250px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}


.date-label {
    margin-top: 8px;
    margin-left: 100px;
    color: #42515F;
}


.reg-date {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 140px;
    color: #42515F;
    display: flex;
    gap: 30px;
    margin-top: -25px;
}

.select-date {
    color: #42515F;
    height: 35px;
    width: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.select-month {
    color: #42515F;
    height: 35px;
    width: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.select-year {
    color: #42515F;
    height: 35px;
    width: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}


.note-label {
    margin-top: 8px;
    margin-left: 100px;
    color: #42515F;
}

.text-area {
    display: flex;
    align-items: center;
    margin-left: 140px;
    color: #42515F;
    margin-top: -35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}


.reg-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cancel {
    width: 130px;
    height: 40px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 18px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    margin-left: 120px;
    cursor: pointer;
}

.reg-logo {
    cursor: pointer;
}


.submit {
    margin-left: 150px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 18px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.reset {
    margin-left: 15px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 18px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}


.nameerror{
   
   
    align-items: center;
    position:absolute;
    left: 234px;
    top: 105px;
    height: 0px;
  
    
}

.imageerror{
   
    align-items: center;
    position:absolute;
    left: 234px;
    top: 170px;
   
    
}

.gendererror{
   
   
    align-items: center;
    position:absolute;
    left:234px;
    top: 218px;
    
    
}

.departmenterror{
    align-items: center;
    position:absolute;
    left:235px;
    top: 280px;
}


.salaryerror{
    align-items: center;
    position:absolute;
    left:236px;
    top: 355px;
}

.dateerror{
    align-items: center;
    position:absolute;
    left:236px;
    top: 419px;
}